<div>
    <div class="bns_over_achiv_img">
        <img src="{{thumbs.url_250x250}}" alt="{{name}}">
    </div>
    <span class="bns_over_achiv_name">{{name}}</span>
    <div class="bns_over_achiv_has_block">
            <span class="bns_over_achiv_has">
                Статус получен
            </span>
    </div>
    <span class="bns_over_achiv_desc">{{descr}}<a href="#" class="js-move-to-tasks">Перейти к заданиям</a></span>

</div>