<div class="bns_overlay">
    <div class="bns_overlay_iner js-inner">
        <a href="#" class="close"></a>
        <div class="bns_over_gift_main">
            <span class="bns_over_gift_head js-title">{{title}}</span>
            <span class="js-content"></span>
        </div>
    </div>
</div>