<div>
    <div class="cycle-slideshow js-gifts-cont"
         data-cycle-fx="fade"
         data-cycle-timeout="0"
         data-cycle-slides="> .bns_tab_gift_slide"
         data-cycle-prev=".prevControl"
         data-cycle-next=".nextControl" id="gift">
        <a href="#" class="prevControl"></a>
        <a href="#" class="nextControl"></a>
    </div>
</div>

